/* Styles for index.html */
@import "blog.css";

/* Default: Small screens */
body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-decoration: none;
    color: antiquewhite;
}

.card {
    border: black solid 2px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-title {
    order: 1;
}

.card-author {
    order: 2;
    text-align: right;
}

.card-illustration {
    order: 3;
    text-align: center;
}

.card-illustration-img {
    width: 70%;
}

.card-text {
    order: 4;
}

.card-link {
    order: 5;
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
}

.nav-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    margin: 5px;
}

.nav-archive ul {
    padding-left: 10px;
}


/* For bigger screens: grid layout for main elements and card content */
@media (min-width: 700px) {
    body {
        display: grid;
        grid-template-areas:    "header header" 
                                "main nav" 
                                "footer footer";
        grid-template-columns: 3fr 1fr;
        grid-gap: 5px;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    nav {
        grid-area: nav;
    }

    footer {
        grid-area: footer;
    }

    .card {
        display: grid;
        grid-template-areas:    "title image"
                                "author image"
                                "text image"
                                "text link";

    }

    .card-title {
        grid-area: title;
    }

    .card-author {
        grid-area: author;
    }

    .card-illustration {
        grid-area: image;
        width: 100%;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .card-text {
        grid-area: text;
    }

    .card-link {
        grid-area: link;
    }
}

/* for big screens: cards are displayed in two columns */
@media (min-width: 1500px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin: 5px 5px;
    }

}