/* Design of basic HTML elements */

body {
    background-color: beige;
    font-family: "Roboto Light", serif;
    font-size: 18px;
    color: darkslateblue;
}


/* Block elements */

h1 {
    text-decoration: underline;
    margin-left: 30px;
}

h2 {
    text-decoration: underline;
    margin-left: 20px;
}

h3 {
    text-decoration: underline;
    margin-left: 10px;
}

p {
    text-align: justify;
}

ul {
    list-style: square;
}

ul ul {
    font-size: 0.9em;
}

ol {
    list-style: upper-roman;
}

ol ol {
    font-size: 0.9em;
}

blockquote {
    font-size: 1.2em;
    border: 1px solid black;
    padding: 5px;
}

/* Inline elements */

a {
    color: darkgreen;
}

.underlined {
    text-decoration: underline;
}

