/* Design of basic HTML elements */
@import "main-h.css";
@import "main-list.css";
@import "main-body.css";

p {
    text-align: justify;
}

blockquote {
    font-size: 1.2em;
    border: 1px solid black;
    padding: 5px;
}

a {
    color: darkgreen;
}

.inactive {
    text-decoration: none;
}

u {
    font-size: 1.1em;
}
